<Template name="slackMain">
  <div id="slack-main-container" class="container-fluid">
    <ul class="nav nav-tabs">
      {{#each teams}}
        <li role="presentation" class="team-tab{{#if isActiveTeam this}} active{{/if}}"><a href="#">{{teamName}}</a></li>
      {{/each}}
      <li role="presentation" class="team-setup-tab{{#if isSetup}} active{{/if}}"><a href="#">Team Setup</a></li>
    </ul>

    {{#if activeTeam}}
      {{> slackTeam activeTeam}}
    {{else}}
      {{> slackTeamSetup}}
    {{/if}}
  </div>
</Template>
