<Template name="slackTeam">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Last Message</th>
          </tr>
        </thead>
        <tbody>
          {{#each channels}}
            <tr class="channel-row">
              <td>{{extra.channel.type}}</td>
              <td>{{extra.channel.name}}</td>
              <td>{{formatTS extra.lastMessageTS}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</Template>

